<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Management System</title>
<!-- Tailwind CSS CDN -->
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
	rel="stylesheet">
</head>

<body class="bg-gray-100">

	<!-- Navbar  -->
	<nav class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between items-center px-4">

			<img style="width: 20%;" alt="logo" src="/eventlogo.png">
			<div>
				<a href="/" class="text-white mr-4">Home</a> <a href="/showGridData"
					class="text-white mr-4">Grid Data</a> <a href="/login"
					class="text-white px-4 py-2 border border-white rounded">Sign
					In</a> <a href="/signup"
					class="text-white px-4 py-2 bg-gray-600 rounded">Sign Up</a>
			</div>
		</div>
	</nav>
	<!-- Navbar  -->
	<!-- Header -->




	<header class="py-20 bg-gray-900 text-center text-white">
		<div class="container mx-auto">
			<h1 class="text-4xl font-bold mb-4">Welcome to Event Management
				system</h1>
			<p class="text-lg">Empowering Seamless Events: From Planning to
				Success</p>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container mx-auto py-8">
		<!-- Content here -->
	</div>

	<!-- Developer Section -->
	<section class="bg-gray-100 py-16">
		<div class="container mx-auto text-center">
			<h2 class="text-3xl font-bold mb-8">Meet the Developer</h2>
			<div class="max-w-md mx-auto">
				<div class="bg-white rounded-lg shadow-md p-6">
					<img src="/rohit.png" alt="Developer Photo"
						class="rounded-full mb-4 mx-auto w-36 h-36">
					<h3 class="text-xl font-semibold mb-2">Rohit shukla</h3>
					<p class="text-lg">Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Aenean efficitur euismod velit.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="bg-gray-800 py-8 text-white">
		<div class="container mx-auto text-center">
			<p>
				&copy; 2024<span style="color: #33A5FF;"> Event Management
					System.</span> All rights reserved.
			</p>
		</div>
	</footer>

</body>

</html>
