<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
	rel="stylesheet" />

</head>
<body>
	<!-- Navbar  -->
	<nav class="bg-gray-800 py-4">
		<div class="container mx-auto flex justify-between items-center px-4">

			<img style="width: 20%;" alt="logo" src="/eventlogo.png">
			<div>
				<a href="/" class="text-white mr-4">Home</a> <a href="/showGridData"
					class="text-white mr-4">Grid Data</a> <a href="/login"
					class="text-white px-4 py-2 border border-white rounded">Sign
					In</a> <a href="/signup"
					class="text-white px-4 py-2 bg-gray-600 rounded">Sign Up</a>
			</div>
		</div>
	</nav>
	<!-- Navbar  -->
	<div
		class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8 px-6">
		<div class="sm:mx-auto sm:w-full sm:max-w-md">
			<img class="mx-auto h-10 w-auto"
				src="https://www.svgrepo.com/show/484031/registration.svg"
				alt="Workflow">
			<h2
				class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
				Create a new acccount</h2>
			<p class="mt-2 text-center text-sm leading-5 text-blue-500 max-w">
				Or <a href="/login"
					class="font-medium text-blue-500 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">
					Login to your account </a>
			</p>
		</div>
		<div class="flex bg-gray-50 items-center justify-center p-12 ">
			<!-- Author: FormBold Team -->
			<div
				class="py-8 px-4 shadow sm:rounded-lg sm:px-9 mx-auto w-full max-w-[600px] bg-white">
				<form th:action="@{/getSignUpData}" th:object="${signUpData}"
					method="post">
					<!-- Alert start -->
					<div th:if="${message}" id="alert-2"
						class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
						role="alert">
						<svg class="flex-shrink-0 w-4 h-4" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							viewBox="0 0 20 20">
    <path
								d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
  </svg>
						<span class="sr-only">Info</span>

						<div class="ms-3 text-sm font-medium" th:text="${message}"></div>
						<button type="button"
							class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
							data-dismiss-target="#alert-2" aria-label="Close">
							<span class="sr-only">Close</span>
							<svg class="w-3 h-3" aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg" fill="none"
								viewBox="0 0 14 14">
      						<path stroke="currentColor" stroke-linecap="round"
									stroke-linejoin="round" stroke-width="2"
									d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    						</svg>
						</button>
					</div>
					<!-- Alert end -->
					<div class="-mx-3 flex flex-wrap">
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="usertype"
									class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">User
									Type</label> <select id="usertype" th:value="${signUpData.usertype}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
									name="usertype" th:field="*{usertype}">
									<option th:each="size : ${sizeEnum}"
										th:selected="${signUpData.usertype == size}"
										th:value="${size}">[[${size.name() }]]</option>
								</select>
							</div>
						</div>

						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="name"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Full Name </label> <input type="text" name="name" id="name"
									placeholder="Full Name" th:value="${signUpData.name}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
					</div>

					<div class="-mx-3 flex flex-wrap">
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="mobile"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Mobile Number </label> <input type="text" name="mobile" id="mobile"
									placeholder="Mobile number" th:value="${signUpData.mobile}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>


						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="altmobile"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Alt Mobile Number </label> <input type="text" name="altmobile"
									id="altmobile" placeholder="Alt. mobile number"
									th:value="${signUpData.altmobile}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
					</div>
					<div class="-mx-3 flex flex-wrap">
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="email"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Email </label> <input type="text" name="email" id="email"
									placeholder="Email" th:value="${signUpData.email}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="aadharno"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Aadhar number </label> <input type="text" name="aadharno"
									id="altmobile" placeholder="Aadhar number"
									th:value="${signUpData.aadharno}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
					</div>
					<div class="-mx-3 flex flex-wrap">
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="dob"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									D.O.B </label> <input type="date" name="dob" id="dob"
									th:value="${signUpData.dob}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="gender"
									class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">Gender</label>
								<select id="gender" th:value="${signUpData.gender}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
									name="gender" th:field="*{gender}">

									<option value="male">Male</option>
									<option value="female">Female</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
					</div>
					<div class="mb-5">
						<label for="address"
							class="mb-3 block text-sm font-medium text-[#07074D]">
							Address </label> <input type="text" name="address" id="address"
							placeholder="Address" th:value="${signUpData.address}"
							class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
					</div>

					<div class="-mx-3 flex flex-wrap">
						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="occupation"
									class="block mb-3 text-sm font-medium text-gray-900 dark:text-white">Occupation</label>
								<select id="occupation" th:value="${signUpData.occupation}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
									name="occupation" th:field="*{occupation}">
									<option th:each="occ : ${occupationEnum}"
										th:selected="${signUpData.occupation == occ}"
										th:value="${occ}">[[${occ.name() }]]</option>
								</select>
							</div>
						</div>

						<div class="w-full px-3 sm:w-1/2">
							<div class="mb-5">
								<label for="password"
									class="mb-3 block text-sm font-medium text-[#07074D]">
									Password </label> <input type="password" name="password" id="password"
									placeholder="Enter Secure Password"
									th:value="${signUpData.password}"
									class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
							</div>
						</div>
					</div>
					<div>
						<button
							class="text-white bg-gradient-to-r from-cyan-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 
							focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-blue-500/50 dark:shadow-lg 
							dark:shadow-teal-800/80 font-medium rounded-lg text-lg px-40 py-1  text-center w-full ">
							Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>